* {
	box-sizing: border-box;
	position: relative;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100vh;
	margin: auto;
	padding-top: 150px;
}

p {
	margin: 0px;
	font-size: 14px;
	line-height: 34px;
}

.container {
	margin: auto;
	width: 270px;
	padding-top: 6px;
	height: 300px;
	overflow-y: scroll;
	box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.1);
	display: none;
}

.select {
	height: 45px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.defaultSelect:hover {
	background-color: rgba(211, 232, 250, 0.25);
}

.greenSelect:hover {
	background-color: rgba(189, 247, 223, 0.25);
}

.orangeSelect:hover {
	background-color: rgba(255, 234, 184, 0.25);
}

.redSelect:hover {
	background-color: rgba(255, 211, 209, 0.25);
}

.tag {
	margin-left: 12px;
	display: inline-block;
	padding: 0px 12px;
	border-radius: 6px;
}

.text {
	color: #228BE6;
}

.check {
	margin-right: 24px;
	padding-top: 6px;
	opacity: 0;
}

.defaultSelect .TagShow {
	background-color: #d3e8fa;
}

.greenSelect .TagShow {
	background-color: #bdf7df;
}

.orangeSelect .TagShow {
	background-color: #ffeab8;
}

.redSelect .TagShow {
	background-color: #ffd3d1;
}

.CheckShow {
	opacity: 1;
}

.blackText {
	color: black;
}

.greenText {
	color: #1AA285;
}

.orangeText {
	color: #FF940D;
}

.redText {
	color: #FD5419;
}

.outside {
	width: 450px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.title {
	display: inline-block;
	padding-top: 5px;
}

.showRoom {
	display: flex;
	width: 360px;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.spaceTag {
	color: #a0a0a0;
	border: 1px dashed #d4d4d4;
	font-size: 14px;
	padding: 0px 12px;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 32px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
}

.spaceTag span {
	color: black;
}

.tagSustain {
	background-color: #d3e8fa;
	color: #228BE6;
	font-size: 14px;
	padding: 0px 12px;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 34px;
	border-radius: 6px;
	display: inline-block;
}

.tagSustain i {
	cursor: pointer;
}

.add {
	line-height: 34px;
	cursor: pointer;
}

.containerShow {
	display: block;
}

.click {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

#showTag3, #showTag4 {
	color: #1AA285;
	background-color: #bdf7df;
}

#showTag5, #showTag6, #showTag7, #showTag8 {
	color: #FF940D;
	background-color: #ffeab8;
}

#showTag9, #showTag10 {
	color: #FD5419;
	background-color: #ffd3d1;
}

.displayNone {
	display: none;
}
